/* GameCanvas.css */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
}
.canvas-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-touch-callout: none; /* 長押しメニュー無効（iOS） */
  -webkit-user-select: none; /* テキスト選択無効（iOS） */
  user-select: none; /* テキスト選択無効（全般） */
  -webkit-user-drag: none; /* 画像のドラッグ無効 */
}

.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
