/* GameCanvas.css */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: manipulation;
}
.canvas-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-touch-callout: none; /* 長押しメニュー無効（iOS） */
  -webkit-user-select: none; /* テキスト選択無効（iOS） */
  user-select: none; /* テキスト選択無効（全般） */
  -webkit-user-drag: none; /* 画像のドラッグ無効 */
  touch-action: none;
}

.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game-text-input {
  position: absolute;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0);
  border: 3px solid rgba(229, 16, 16, 0);
  background: rgba(255, 255, 255, 0);
  z-index: 100;
  font-size: 16px; /* Safari対策 */
  transform-origin: left top; /* 座標補正の基準点 */
}
.game-text-input:focus {
  outline: none;
}
.game-text-input::selection {
  color: transparent;
  background: rgba(255, 255, 255, 0.3);
}
@media (min-aspect-ratio: 1007/1552) {
  .game-text-input {
    width: calc(20vh / (3vh / 16px));
    height: calc(5vh / (3vh / 16px));

    /* 見た目の文字サイズを戻す */
    transform: scale(calc(3vh / 16px));

    /* 座標補正 */
    left: calc(100vw - 20vh);
    top: 17vh;
  }
}
@media (max-aspect-ratio: 1007/1552) {
  .game-text-input {
    width: cale(30.8vw / (4.6vw / 16px));
    height: calc(18.5vw / (4.6vw / 16px));

    /* 見た目の文字サイズを戻す */
    transform: scale(calc(4.6vw / 16px));

    /* 座標補正 */
    left: 69.2vw;
    top: 21.2vw;
  }
}

@font-face {
  font-family: "Komorebi";
  src: url("/assets/fonts/komorebi-gothic-P.ttf") format("truetype");
}
@font-face {
  font-family: "KiwiMaru-Medium";
  src: url("/assets/fonts/KiwiMaru-Medium.ttf") format("truetype");
}
