/* GameCanvas.css */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
}
.canvas-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-touch-callout: none; /* 長押しメニュー無効（iOS） */
  -webkit-user-select: none; /* テキスト選択無効（iOS） */
  user-select: none; /* テキスト選択無効（全般） */
  -webkit-user-drag: none; /* 画像のドラッグ無効 */
}

.layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game-text-input {
  position: absolute;
  box-sizing: border-box;

  color: rgba(255, 255, 255, 0);
  border: 3px solid rgba(255, 0, 0, 0);
  background: rgba(255, 255, 255, 0);

  z-index: 100;
}
.game-text-input:focus {
  outline: none;
}
.game-text-input::selection {
  color: transparent;
  background: rgba(255, 255, 255, 0.3);
}

/* 横長：高さ基準 */
@media (min-aspect-ratio: 1007/1552) {
  .game-text-input {
    left: calc(100vw - 20vh);
    top: 17vh;
    width: 20vh;
    height: 5vh;
    font-size: 3vh;
  }
}

/* 縦長：幅基準 */
@media (max-aspect-ratio: 1007/1552) {
  .game-text-input {
    left: 69.2vw;
    top: 21.2vw;
    width: 30.8vw;
    height: 18.5vw;

    font-size: 4.6vw;
  }
}

@font-face {
  font-family: "Komorebi";
  src: url("/assets/fonts/komorebi-gothic-P.ttf") format("truetype");
}
@font-face {
  font-family: "KiwiMaru-Medium";
  src: url("/assets/fonts/KiwiMaru-Medium.ttf") format("truetype");
}
